<div class="tree-view">
  <h3 *ngIf="model.showTitle==true" id="tree_view_{{model.treeNodeId}}">{{model.treeTitle}}</h3>
  <ng-container *ngTemplateOutlet="treeViewList; context:{ $implicit: model.items,role:'tree',treeid:model.treeNodeId }">
  </ng-container>
</div>


<ng-template #treeViewList let-list let-role='role'  let-treeid="treeid">
  <ul [attr.role]="role" id="treeView_{{treeid}}" [attr.aria-labelledby]="this['tree_view_'+treeid]">
    <li *ngFor="let item of list;let i=index" role="treeitem" [tabindex]="setTabIndexOnLoad(role,i)" #options aria-expanded="false">
      <span class="tree-item-label">{{item[model.lid]}}</span>
      <ng-container *ngTemplateOutlet="treeViewList; context:{ $implicit: item.children,role:'group' }">
      </ng-container>
    </li>
  </ul>
</ng-template>
