<div class="row">
  <div class="col-12 col-xl-4">
    <div class="tree-view">
    <app-treeview [treeModel]="demoData" ></app-treeview>
    </div>
  </div>
  <div class="col-12 col-xl-8">

    <section>
      <h4 class="wells">Role, Property, State and Tabindex Attributes</h4>

      <table class="table table-stripped table-bordered ">
        <thead>
          <tr>
            <td>Role</td>
            <td>Attribute</td>
            <td>Element</td>
            <td>Usage</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>tree</td>
            <td></td>
            <td>ul</td>
            <td>
              <ul>
                <li>Applied to the root ul tag to identify itself as tree widget</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>


    </section>
  </div>
</div>
