ul.accessCombobox-listbox[role='listbox']{
   // position: absolute;
    //list-style: none;
    //border:1px solid #ddd;
    //width:93%;
    //z-index: 100; 
    //padding:5px;
    position: absolute;
    list-style: none;
    background-color: #fff;
    font-size: 1em;
    margin: 0;
     border-radius: 0px 0px 5px 5px;
    width: 92%;
    height:auto;
    min-height:100px;
    max-height: 200px;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 3px 6px;
    border:1px solid #716b6b;

}

ul.accessCombobox-listbox[role='listbox'] li[role='option']{
    cursor: pointer;
}

ul.accessCombobox-listbox[role='listbox'] li[role='option']:hover{
    background-color: grey;
    color: #FFF;
}

ul.accessCombobox-listbox[role='listbox'] li[role='option'][aria-selected='true']{
    background-color: rgba(59, 133, 230, 0.623);
    color: #FFF;
}