<div id="{{id}}_acxbox" 
     class="acxbox {{type}}" 
     role="combobox" 
     [attr.aria-owns]="_dropdownId" 
    [attr.aria-expanded]="_ddOpen" 
     aria-haspopup="listbox"
    [attr.aria-labelledby]="arialabelledby">
    <div class="input-group">
      <input class="form-control acxbox-input" 
      [attr.aria-labelledby]="arialabelledby"
             [attr.aria-controls]="_dropdownId"
             [attr.aria-activedescendant]="_activedescendantId"
             aria-autocomplete="list"
             type="text"
             [value]="_selectedText"
             [readonly]="_isReadOnly"
             id="acxbox_input_{{id}}" 
             (focusin)="onComboboxClick($event)"
             (focusout)="onComoboxFocusOut($event)" 
             (keydown)="onKeydown($event)"
             (keyup)="onKeyup($event)"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" 
                  tabindex="-1"
                  type="button" 
                  aria-label="Toggle combobox" 
                  title="Click here to toggle {{arialabel}} combobox" 
                  id="acxbox_caretBtn_{{id}}"
                  [attr.aria-hidden]="_hideToggleBtn"
                  [hidden]="_hideToggleBtn"
                  (click)="onToggleClick($event)"
                  (focusout)="onComoboxFocusOut($event)">
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
          </button>
          <button class="btn btn-outline-secondary" 
                  type="button" 
                  aria-label="Clear combobox" 
                  title="Click here to clear  combobox selection" 
                  id="acxbox_closeBtn_{{id}}"
                  [attr.aria-hidden]="_hideCloseBtn"
                  [hidden]="_hideCloseBtn"
                  (click)="onClearClick($event)">
                  <i class="fa fa-times-circle" aria-hidden="true"></i>
          </button>
        </div>    
    </div> 
    
    <ul [id]="_dropdownId" class="acxbox-listbox" role="listbox" [attr.aria-labelledby]="arialabelledby" tabindex="-1"  [attr.aria-hidden]="!_ddOpen" [hidden]="!_ddOpen">
            <li *ngFor="let option of _filteredOptions" role="option" id="{{option.elementId}}" [attr.data-code]="option.code" [attr.aria-selected]=
            "option.selected" (click)="optionClicked(option)" [attr.data-activedescendant]="option.activedescendant">{{option.label}}</li>
    </ul>
    
</div>
