
@import "../../../variables.scss";

aside{
background-color:$lib-theme-color;
height:calc( 100vh - 53px);
position: absolute;
z-index:1020;
left:0%;
width:200px;
transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
transform-origin: bottom left;
overflow:auto;
margin-top:53px;
  ul{
        padding:0px;
    li{
        padding: 6px 12px;
        display: block;
        list-style-type: none;
        &:hover{
            background:#1434b9;
        }
        a{
            width:inherit;
            color:#fff;
            &:hover{
                text-decoration: none;
                font-weight:bold;
            }
            &.active-link{
                font-weight: bold;
                text-decoration: underline;
            }
        }
      
    }
  }
  &.inactive{
    display:none;
  }
}
@media (max-width:576px) {
    aside{
        margin-left:-200px;
       &.active{
        display: block;
        margin-left:0px;
        
       }
       &.inactive{
        display: none;
       }
    }
    
 } 