#router-content{
    padding:6px 12px;
    height: calc( 100vh - 3vh);
    overflow-y: auto;
    overflow-x:hidden;
    transition: all 0.3s;
    width:calc(100% - 200px);
    margin-left:200px;
    
    padding-top:100px;
   }

   @media (max-width:576px) {
    #router-content{
        width:100%;
        margin-left:0px;

    }
    
 } 