
<section class="container">
   <app-progressbar [ariaValueNow]="ariaValueNow" 
                    [ariaValueMin]="ariaValueMin"
                    [ariaValueMax]="ariaValueMax"
                    [progressStyle]="progressStyle" >
   </app-progressbar>
   <br />
   <button type="button" class="btn btn-primary" (click)="startProgress()">Start</button>
   &nbsp;
   <button type="button" class="btn btn-danger" (click)="stopProgress()">Stop</button>
   &nbsp;
   <button type="button" class="btn btn-success" (click)="clear()">Clear</button>
</section>