<div class="container">
  <div class="card" role="region" aria-label="Progress Bar Example 1">
    <div class="card-header">
      <h5 class="card-title" id="exampleOne">Example #1: Simple Progress Bar</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <section>
          <app-progressbar [progressBarModel]="defaultProgressBar"
            [progressBarEventEmitter]="exeOneStartProgressClicked"
            (fromProgressBarEmitter)="eventFromExeOneProgressBar($event)">
          </app-progressbar>
          <br />
          <button type="button" class="btn btn-primary" (click)="emitProgressBarEvent('start','1')" aria-describedby="exampleOne">Start</button>
          &nbsp;
          <button type="button" class="btn btn-danger" (click)="emitProgressBarEvent('stop','1')" aria-describedby="exampleOne">Stop</button>
          &nbsp;
          <button type="button" class="btn btn-success" (click)="emitProgressBarEvent('clear','1')" aria-describedby="exampleOne">Clear</button>
        </section>
        </div>
        <div class="col-12 col-lg-6">
          <section>
            <small>Event logs:</small>
            <ul>
              <li *ngFor="let item of exeOnelogs">
                {{item}}
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>


  <div class="card"  role="region" aria-label="Progress Bar Example 2">
      <div class="card-header">
          <h5 class="card-title" id="exampleTwo">Example #2: Progress Bar With Helper Text</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 col-lg-6">
              <section>
            <app-progressbar [progressBarModel]="progressBarWithText"
              [progressBarEventEmitter]="exeTwoStartProgressClicked"
              (fromProgressBarEmitter)="eventFromExeTwoProgressBar($event)">
            </app-progressbar>
            <br />
            <button type="button" class="btn btn-primary" (click)="emitProgressBarEvent('start','2')" aria-describedby="exampleTwo">Start</button>
            &nbsp;
            <button type="button" class="btn btn-danger" (click)="emitProgressBarEvent('stop','2')" aria-describedby="exampleTwo">Stop</button>
            &nbsp;
            <button type="button" class="btn btn-success" (click)="emitProgressBarEvent('clear','2')" aria-describedby="exampleTwo">Clear</button>
          </section>
          </div>
          <div class="col-12 col-lg-6">
              <section>
                  <small>Event logs:</small>
                  <ul>
                    <li *ngFor="let item of exeTwologs">
                      {{item}}
                    </li>
                  </ul>
                </section>
          </div>
        </div>
      </div>
    </div>
</div>



