<div class="tree-view">
    <h3 *ngIf="model.showTitle==true" id="tree_view_{{model.treeNodeId}}">{{model.treeTitle}}</h3>
    <ng-container *ngTemplateOutlet="treeViewList; context:{ $implicit: model.items,role:'tree',treeid:model.treeNodeId,parentid:'root',lid:'0' }">
    </ng-container>
  </div>

<ng-template #treeViewList let-list let-role='role'  let-treeid="treeid" let-parentid="parentid">
    <ul [attr.role]="role" id="treeView_ul_{{treeid}}_{{parentid}}" [attr.aria-labelledby]="this['tree_view_'+treeid]" *ngIf="isChildrenExists(list)" #ultags>
     
          <app-li-ele  *ngFor="let item of list;let i=index"
          [id]="getTreeItemId(item,treeid)"
          [modelObj]="model"
          [itemObj]="item"
          [ariaExpanded]="false"
          [iconClass]="getExpandCollapseClass(item)"
          [dataCode]="item[model.cid]"
          [dataChildCount]="getChildCount(item)"
          [dataIndex]="i"
          [dataFirst]="i==0?1:0"
          [dataLast]="i==list.length-1?1:0"
          role="treeitem" 
          (onLiClicked)="toggleExpansion($event,item)"
          #options
          >
          <ng-container *ngTemplateOutlet="treeViewList; context:{ $implicit: item.children,role:'group',treeid:model.treeNodeId,parentid:item.code  }">
        </ng-container>
        </app-li-ele>
        
  
    </ul>
  </ng-template>