@import "../../../variables.scss";

header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color:$lib-theme-color;
   
   
    z-index:1000;
    ul{
        list-style-type: none;
        padding:3px 6px;
        margin:0px;
         li{
           
             padding:3px 6px;
             display: inline-block;
             a{  vertical-align: middle;
                 color:$white;
                 &.logo{
                     font-weight:bold;
                     font-size:$logo-font-size;
                 }
                 &:hover{
                     text-decoration: none;
                     cursor: pointer;
                 }
             }
         }
    }
}

@media (max-width:576px) {
    header{
        ul{
            li{
                a{
                    color:$white;
                    &.logo{
                        font-size:$logo-font-size-sm;
                    }
                } 
            }
        }

    }
    
 } 