<ul [id]="_dropdownId" 
    class="acxbox-listbox" 
    role="listbox" 
    [attr.aria-labelledby]="arialabelledby" 
    tabindex="0">
      <li *ngFor="let option of _filteredOptions" 
           role="option" 
           id="{{option.elementId}}" 
           [attr.data-code]="option.code" 
           [attr.aria-selected]="option.selected" 
           (click)="optionClicked(option,$event)" 
           [attr.data-activedescendant]="option.activedescendant">
           <i class="fa fa-arrows-alt"></i>{{option.label}}
      </li>
</ul>
