
<section>
    <h4 id="transferlist-demo-title">Transfer List Box/ Two Selection List Box Demo</h4>
    <app-transferlistbox 
      [code]="code" 
      [label]="label" 
      [leftAreaList]="leftAreaItems" 
      [rightAreaList]="rightAreaItems" 
      [leftAreaLabel]="leftAreaLabel"
      [rightAreaLabel]="rightAreaLabel"
      [leftAreaId]="leftAreaId"
      [rightAreaId]="rightAreaId"
      
      ></app-transferlistbox>




</section>

<!-- <div class="card">
  <div class="card-header">
      Transfer List / Two Selection List Demo
  </div>
  <br/>
  <div class="card-block">
     <app-transferlistbox></app-transferlistbox>
  </div>
</div>
 -->