<div class="row">
  <div class="col-sm-12 col-lg-6">
    <section>
      <h4 id="transferlist-demo-title">Transfer List Box <a class="btn btn-link" target="_blank" href="https://medium.com/@kgotgit/accessible-angular-web-component-to-toggle-options-between-two-listbox-s-550c158d1074">Medium Post</a></h4>
      <app-transferlistbox [code]="code" [label]="label" [leftAreaList]="leftAreaItems" [rightAreaList]="rightAreaItems"
        [leftAreaLabel]="leftAreaLabel" [rightAreaLabel]="rightAreaLabel" [leftAreaId]="leftAreaId"
        [rightAreaId]="rightAreaId"></app-transferlistbox>

    </section>
  </div>
  <div class="col-sm-12 col-lg-6">
    <section>
      <h4 class="wells">Keyboard Navigation</h4>

      <table class="table table-stripped table-bordered">
        <thead>
          <tr>
            <td>Key</td>
            <td>Description</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span class="keycap">↑</span> &nbsp;<span class="keycap">Up Arrow</span></td>
            <td>Move focus to next option </td>
          </tr>
          <tr>
            <td><span class="keycap">↓</span>&nbsp; <span class="keycap">Down Arrow</span></td>
            <td>Move focus to previous option</td>
          </tr>
          <tr>
            <td><span class="keycap">TAB</span></td>
            <td>Navigate next active element</td>
          </tr>
          <tr>
            <td><span class="keycap">SHIFT + TAB</span></td>
            <td>Navigate next previous element</td>
          </tr>
          <tr>
            <td><span class="keycap">Space bar</span></td>
            <td>Select/Unselect current focused option</td>
          </tr>
          <tr>
            <td><span class="keycap">CTRL + A</span></td>
            <td>Select/Unselect all options</td>
          </tr>

          <tr>
            <td><span class="keycap">HOME</span></td>
            <td>Moves the focus to the first option</td>
          </tr>
          <tr>
            <td><span class="keycap">END</span></td>
            <td>Moves the focus to the last option</td>
          </tr>
          <tr>
            <td><span class="keycap">SHIFT + ↑</span></td>
            <td>Moves toe focus to previous option and toggles the selected state</td>
          </tr>
          <tr>
            <td><span class="keycap">SHIFT + ↓</span></td>
            <td>Moves toe focus to next option and toggles the selected state</td>
          </tr>

        </tbody>
      </table>


    </section>

  </div>

</div>
