<div class="container">
<form >

  <label for="inlineFormInputName2">Message</label>
  <input type="text" class="form-control col-8" id="inlineFormInputName2"
    placeholder="Type your message here and click on Add Alert" [(ngModel)]="message" name="typeMessage" />
    
    <label for="messageType">Message Type</label>
    <select id="messagetType" col-8 class="form-control"  [(ngModel)]="alertsClass" name="messageType">
        <option value="primary" selected>Primary</option>
        <option value="secondary">Secondary</option>
        <option value="success">Success</option>
        <option value="danger">Danger</option>
        <option value="warning">Warning</option>
        <option value="info">Info</option>
        <option value="dark">Dark</option>

      </select>

      <label for="messageType">Aria Live</label>
    <select id="messagetType" col-8 class="form-control"  [(ngModel)]="alertAriaLive" name="ariaLiveOptions">
        <option value="polite" selected>Polite</option>
        <option value="assertive">Assertive</option>
      </select>

    <div class="form-check mb-2 mr-sm-2">
        <input class="form-check-input" type="checkbox" id="inlineFormCheck" [(ngModel)]="isSrOnly" name="srOnlyCheckbox">
        <label class="form-check-label" for="inlineFormCheck">
          Screen Reader Only
        </label>
      </div>
     <button type="button" class="btn btn-primary" (click)="addAlerts()">Add Alert</button>
     &nbsp;
     <button type="button" class="btn btn-danger" (click)="clearForm()">Clear</button>
  
</form>

<br />
<h3 aria-live="polite">Total Alerts Messages added:  {{counter}}</h3>

<ng-template #alerts></ng-template>
</div>


