<div class="twolistselection">
  <div class="row">
    <div class="col-xs-5 col-sm-5">
      <div class="left">
        <app-filterlistbox [itemsMap]="leftAreaMap" [componentId]="leftAreaId" [listName]="leftAreaLabel"
          (itemStateChanged)="itemSelectedOrUnSelected($event)">
        </app-filterlistbox>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2">
      <div class="center">
        <div class="row">
          <div class="col-12">
            <button type="button" class="btn btn-primary" aria-label="Left To Right" (click)="toggleLeftToRight()">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-12">
            <button type="button" class="btn btn-primary" aria-label="Right To Left"  (click)="toggleRightToLeft()">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-5 col-sm-5">
      <div class="right">
        <app-filterlistbox [itemsMap]="rightAreaMap" [componentId]="rightAreaId" [listName]="rightAreaLabel"
          [itemsMap]="rightAreaMap" (itemStateChanged)="itemSelectedOrUnSelected($event)">
        </app-filterlistbox>
      </div>
    </div>
  </div>
</div>
