/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";


//default variables:

$theme-background-color:#7386D5;


.card-header{
    padding:0.50rem 1rem;
}
.list-group-item{
    padding:0.25rem 0.5rem;
    a{
        color:#2323c6;
    }
}
.list-group-item:first-child{
    border-radius: 0px;
}

kbd, .keycap {
    background-color: #f1f1f1;
    border: 1px solid #666;
    border-width: 1px 2px 2px 1px;
    border-radius: 5px;
    color: #333;
    padding: 0 2px;
    margin: 1px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 17px;
    display: inline-block;
    text-align: center;
}